{% extends "layout.twig" %}


{% block content %}

    <article class="entry entry-single">


        <h2 class="entry-title">
            <a href="about"></a>
            <li>россия для русских</li>
        </h2>


    </article><!-- End blog entry -->

{% endblock %}
