{% extends "layout.twig" %}


{% block content %}

    <article class="entry entry-single">
        <div align="center" class="entry-img">
            <img src="/img3/Larl.webp" alt="" class="img-fluid">
        </div>

        <h2 align="center" class="entry-title">
            <a> Жоски мидер</a>
        </h2>
    </article>

    <article class="entry entry-single">

        <div align="center" class="entry-img">
            <img src="/img3/Collapse.webp" alt="" class="img-fluid">
        </div>

        <h2 align="center" class="entry-title">
            <a> Жоски тройка</a>
        </h2>
    </article>

    <article class="entry entry-single">
        <div align="center" class="entry-img">
            <img src="/img3/Miposhka.webp" alt="" class="img-fluid">
        </div>

        <h2 align="center" class="entry-title">
            <a> Жоски четыре</a>
        </h2>
    </article><!-- End blog entry -->

    <article class="entry entry-single">
        <div align="center" class="entry-img">
            <img src="/img3/Mira.webp" alt="" class="img-fluid">
        </div>

        <h2 align="center" class="entry-title">
            <a> Жоски пять</a>
        </h2>
    </article><!-- End blog entry -->

    <article class="entry entry-single">
        <div align="center" class="entry-img">
            <img src="/img3/yatoro.webp" alt="" class="img-fluid">
        </div>

        <h2 align="center" class="entry-title">
            <a> Жоски один</a>
        </h2>
    </article><!-- End blog entry -->

{% endblock %}