{% extends "layout.twig" %}


{% block content %}

    <article class="entry entry-single">

        <div align="center" class="entry-img">
            <img src="/img2/grystni.jpeg" alt="" class="img-fluid">
        </div>

        <h2 align="center" class="entry-title">
            <a> Грусни дурачо</a>
        </h2>
    </article>
        <article class="entry entry-single">

        <div align="center" class="entry-img">
            <img src="/img2/serega.jpeg" alt="" class="img-fluid">
        </div>

        <h2 align="center" class="entry-title">
            <a> Легенда</a>
        </h2>
        </article>
    <article class="entry entry-single">
        <div align="center" class="entry-img">
            <img src="/img2/yatoro.jpeg" alt="" class="img-fluid">
        </div>

        <h2 align="center" class="entry-title">
            <a> Папа</a>
        </h2>


    </article><!-- End blog entry -->

{% endblock %}
